USE [Job_Inward]
GO
/****** Object:  UserDefinedTableType [dbo].[JI_DeliveryNoteAddressType]    Script Date: 5/31/2026 5:31:46 PM ******/
CREATE TYPE [dbo].[JI_DeliveryNoteAddressType] AS TABLE(
	[JIDNA_JIDNH_Number] [bigint] NOT NULL,
	[JIDNA_Number] [bigint] NOT NULL,
	[JIDNA_ADTP_Number] [bigint] NOT NULL,
	[JIDNA_Address_ID] [nvarchar](25) NOT NULL,
	[JIDNA_Address] [nvarchar](250) NULL,
	[JIDNA_City] [nvarchar](25) NULL,
	[JIDNA_State] [nvarchar](25) NULL,
	[JIDNA_Country] [nvarchar](25) NULL,
	[JIDNA_PIN] [nvarchar](10) NULL,
	[JIDNA_GSTIN] [nvarchar](15) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[JI_DeliveryNoteBatch_Type]    Script Date: 5/31/2026 5:31:46 PM ******/
CREATE TYPE [dbo].[JI_DeliveryNoteBatch_Type] AS TABLE(
	[JIDNI_BCH_Number] [bigint] NULL,
	[JIDNI_BCH_JIDNH_Number] [bigint] NULL,
	[JIDNI_BCH_JIDNI_Number] [bigint] NULL,
	[JIDNI_BCH_WH_Number] [bigint] NULL,
	[JIDNI_BCH_BatchDate] [date] NULL,
	[JIDNI_BCH_BatchNo] [varchar](100) NULL,
	[JIDNI_BCH_BatchQty] [decimal](18, 4) NULL,
	[JIDNI_BCH_BatchUnitPrice] [decimal](18, 4) NULL,
	[JIDNI_BCH_BatchValue] [decimal](18, 4) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[JI_DeliveryNoteHeadType]    Script Date: 5/31/2026 5:31:46 PM ******/
CREATE TYPE [dbo].[JI_DeliveryNoteHeadType] AS TABLE(
	[JIDNH_Number] [bigint] NOT NULL,
	[JIDNH_DN_No] [nvarchar](25) NOT NULL,
	[JIDNH_DN_Date] [date] NOT NULL,
	[JIDNH_MS_Number] [bigint] NOT NULL,
	[JIDNH_JW_Customer_Number] [bigint] NOT NULL,
	[JIDNH_Currency_Number] [bigint] NOT NULL,
	[JIDNH_WH_Number] [bigint] NOT NULL,
	[JIDNH_PaymentTerms] [nvarchar](50) NULL,
	[JIDNH_DeliveryTerms] [nvarchar](50) NULL,
	[JIDNH_DeliveryMode] [nvarchar](50) NULL,
	[JIDNH_DespatchDocumentNo] [nvarchar](50) NULL,
	[JIDNH_DespatchedThrough] [nvarchar](50) NULL,
	[JIDNH_Remarks] [nvarchar](250) NULL
)
GO
/****** Object:  UserDefinedTableType [dbo].[JI_DeliveryNoteItemType]    Script Date: 5/31/2026 5:31:46 PM ******/
CREATE TYPE [dbo].[JI_DeliveryNoteItemType] AS TABLE(
	[JIDNI_JIDNH_Number] [bigint] NOT NULL,
	[JIDNI_Number] [bigint] NOT NULL,
	[JIDNI_PRS_Number] [bigint] NOT NULL,
	[JIDNI_Item_Number] [bigint] NOT NULL,
	[JIDNI_WH_Number] [bigint] NOT NULL,
	[JIDNI_UoM_Number] [bigint] NOT NULL,
	[JIDNI_Qty] [float] NOT NULL,
	[JIDNI_UnitPrice] [float] NOT NULL,
	[JIDNI_Amount] [float] NOT NULL,
	[JIDNI_JW_InvoiceTracking] [nvarchar](3) NOT NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[fn_ConvertStringToTable]    Script Date: 5/31/2026 5:31:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_ConvertStringToTable](@list ntext)
	RETURNS @tbl TABLE (Position INT IDENTITY(1, 1) NOT NULL,
                          Value NVARCHAR(150) NOT NULL) AS
	BEGIN
      DECLARE @pos      int,
              @textpos  int,
              @chunklen smallint,
              @str      nvarchar(4000),
              @tmpstr   nvarchar(4000),
              @leftover nvarchar(4000)

      SET @textpos = 1
      SET @leftover = ''
      WHILE @textpos <= datalength(@list) / 2
      BEGIN
         SET @chunklen = 4000 - datalength(@leftover) / 2
         SET @tmpstr = ltrim(@leftover + substring(@list, @textpos, @chunklen))
         SET @textpos = @textpos + @chunklen

         SET @pos = charindex(',', @tmpstr)
         WHILE @pos > 0
         BEGIN
            SET @str = substring(@tmpstr, 1, @pos - 1)
            if @str <> ''
              INSERT @tbl (Value) VALUES(convert(NVARCHAR(150), @str))
            SET @tmpstr = ltrim(substring(@tmpstr, @pos + 1, len(@tmpstr)))
            SET @pos = charindex(',', @tmpstr)
         END

         SET @leftover = @tmpstr
      END

      IF ltrim(rtrim(@leftover)) <> ''
         INSERT @tbl (Value) VALUES(convert(NVARCHAR(150), @leftover))

      RETURN
   END   

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TaxClusterCalculation]    Script Date: 5/31/2026 5:31:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_TaxClusterCalculation] (@TaxClusterNumber INT,@HSN INT,@Date INT)
RETURNS @ResultTable TABLE (
    TaxIndex INT,
    TaxElement INT,
    Chargeable INT,
    Calculation INT,
    Percentage NUMERIC(18, 3)
)
AS
BEGIN
    DECLARE @CurrentTaxIndex INT;

    -- Get the first TaxIndex
    SELECT @CurrentTaxIndex = MIN(TaxIndex) 
    FROM TaxClusterDetails 
    WHERE TaxClusterNumber = @TaxClusterNumber;

    -- Loop through TaxIndex values
    WHILE @CurrentTaxIndex IS NOT NULL
    BEGIN
        DECLARE @TaxIndex INT;
        DECLARE @TaxElement INT;
        DECLARE @Chargeable INT;
        DECLARE @Factor NVARCHAR(100);
        DECLARE @Percentage NUMERIC(18, 3);

        -- Retrieve data for the current TaxIndex
        SELECT @TaxIndex = TaxIndex, 
               @Chargeable = ChargeableBasis, 
               @TaxElement = TaxElement, 
               @Factor = CalculationFactors
        FROM TaxClusterDetails
        WHERE TaxClusterNumber = @TaxClusterNumber AND TaxIndex = @CurrentTaxIndex;

        -- Calculate Percentage
        SELECT @Percentage = CASE
            WHEN (SELECT TOP 1 FixedPercent FROM TaxElementFixedNature WHERE TaxElement=@TaxElement AND FromDate<=@Date and ToDate>=@Date) > 0 THEN 
                 (SELECT TOP 1 FixedPercent FROM TaxElementFixedNature WHERE TaxElement=@TaxElement AND FromDate<=@Date and ToDate>=@Date)
            WHEN (SELECT TOP 1 HSNPercent FROM TaxElementVariableNature WHERE TaxElement=@TaxElement AND HSN=@HSN AND FromDate<=@Date and ToDate>=@Date) > 0 THEN 
                 (SELECT TOP 1 HSNPercent FROM TaxElementVariableNature WHERE TaxElement=@TaxElement AND HSN=@HSN AND FromDate<=@Date and ToDate>=@Date)
            ELSE 0
        END;

        -- Insert primary calculation into the result table
        INSERT INTO @ResultTable (TaxIndex, TaxElement, Chargeable, Calculation, Percentage)
        VALUES (@TaxIndex, @TaxElement, @Chargeable, 1, @Percentage);

        -- Handle CalculationFactors (if required)
        DECLARE @Counter INT = 1;
        DECLARE @RowCount INT;
        DECLARE @Value NVARCHAR(100);

        SELECT @RowCount = COUNT(*)
        FROM fn_ConvertStringToTable(@Factor);

        WHILE @Counter <= @RowCount
        BEGIN
            -- Fetch factor values
            SELECT @Value = Value 
            FROM (
                SELECT Value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNumber
                FROM fn_ConvertStringToTable(@Factor)
            ) AS TempTable
            WHERE RowNumber = @Counter;

            -- Insert derived rows into the result table
            INSERT INTO @ResultTable (TaxIndex, TaxElement, Chargeable, Calculation, Percentage)
            VALUES (@TaxIndex, CAST(@Value AS INT), @Chargeable, 0, @Percentage);

            -- Increment Counter
            SET @Counter = @Counter + 1;
        END;

        -- Move to the next TaxIndex
        SELECT @CurrentTaxIndex = MIN(TaxIndex) 
        FROM TaxClusterDetails 
        WHERE TaxClusterNumber = @TaxClusterNumber AND TaxIndex > @CurrentTaxIndex;
    END;

    RETURN;
END;

GO
/****** Object:  UserDefinedFunction [dbo].[fn_TaxClusterSACCalculation]    Script Date: 5/31/2026 5:31:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[fn_TaxClusterSACCalculation] (@TaxClusterNumber INT,@SAC INT,@Date INT)
RETURNS @ResultTable TABLE (
    TaxIndex INT,
    TaxElement INT,
    Chargeable INT,
    Calculation INT,
    Percentage NUMERIC(18, 3)
)
AS
BEGIN
    DECLARE @CurrentTaxIndex INT;

    -- Get the first TaxIndex
    SELECT @CurrentTaxIndex = MIN(TaxIndex) 
    FROM TaxClusterDetails 
    WHERE TaxClusterNumber = @TaxClusterNumber;

    -- Loop through TaxIndex values
    WHILE @CurrentTaxIndex IS NOT NULL
    BEGIN
        DECLARE @TaxIndex INT;
        DECLARE @TaxElement INT;
        DECLARE @Chargeable INT;
        DECLARE @Factor NVARCHAR(100);
        DECLARE @Percentage NUMERIC(18, 3);

        -- Retrieve data for the current TaxIndex
        SELECT @TaxIndex = TaxIndex, 
               @Chargeable = ChargeableBasis, 
               @TaxElement = TaxElement, 
               @Factor = CalculationFactors
        FROM TaxClusterDetails
        WHERE TaxClusterNumber = @TaxClusterNumber AND TaxIndex = @CurrentTaxIndex;

        -- Calculate Percentage
        SELECT @Percentage = CASE
            --WHEN (SELECT TOP 1 FixedPercent FROM TaxElementFixedNature WHERE TaxElement=@TaxElement AND FromDate<=@Date and ToDate>=@Date) > 0 THEN 
            --     (SELECT TOP 1 FixedPercent FROM TaxElementFixedNature WHERE TaxElement=@TaxElement AND FromDate<=@Date and ToDate>=@Date)
            WHEN (SELECT TOP 1 SACPercent FROM TaxElementVariableNature WHERE TaxElement=@TaxElement AND SAC=@SAC AND FromDate<=@Date and ToDate>=@Date) > 0 THEN 
                 (SELECT TOP 1 SACPercent FROM TaxElementVariableNature WHERE TaxElement=@TaxElement AND SAC=@SAC AND FromDate<=@Date and ToDate>=@Date)
            ELSE 0
        END;

        -- Insert primary calculation into the result table
        INSERT INTO @ResultTable (TaxIndex, TaxElement, Chargeable, Calculation, Percentage)
        VALUES (@TaxIndex, @TaxElement, @Chargeable, 1, @Percentage);

        -- Handle CalculationFactors (if required)
        DECLARE @Counter INT = 1;
        DECLARE @RowCount INT;
        DECLARE @Value NVARCHAR(100);

        SELECT @RowCount = COUNT(*)
        FROM fn_ConvertStringToTable(@Factor);

        WHILE @Counter <= @RowCount
        BEGIN
            -- Fetch factor values
            SELECT @Value = Value 
            FROM (
                SELECT Value, ROW_NUMBER() OVER (ORDER BY (SELECT NULL)) AS RowNumber
                FROM fn_ConvertStringToTable(@Factor)
            ) AS TempTable
            WHERE RowNumber = @Counter;

            -- Insert derived rows into the result table
            INSERT INTO @ResultTable (TaxIndex, TaxElement, Chargeable, Calculation, Percentage)
            VALUES (@TaxIndex, CAST(@Value AS INT), @Chargeable, 0, @Percentage);

            -- Increment Counter
            SET @Counter = @Counter + 1;
        END;

        -- Move to the next TaxIndex
   